body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}



.login-link {
  color: #007BFF;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
}

#closeModal {
  background: #007BFF;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
}

.reg {
  color: white;
  background-color: #007BFF;
}

.reg:hover{
  background-color: #16395f;
}

h2{
  color: #007BFF;
}

.line{
  width: 40%;
  color: gray;
}

.line-wrapper{
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 15px;
}

/* google btn */
.google-btn {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: gray;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}


.google-btn img {
  width: 20px;
  height: 20px;
}