@media screen and (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    header {
        justify-content: space-between;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: -250px;
        /* Hidden by default */
        flex-direction: column;
        background: #010110;
        width: 200px;
        padding: 1rem;
        height: 100vh;
        transition: right 0.3s ease;
        z-index: 100;
    }


    .nav-links.active {
        right: 0;
        /* Slide in */
    }




    .crypto-img {
        margin-top: -10%;
        width: 250px;
        margin-left: -8%;
    }



    .access-btn-div {
        /* background-color: gray; */
        width: 80px;
        height: 50px;
        padding-left: 2px;
        padding-top: 2px;
        margin-left: -35%;
        margin-top: 2%;
        margin-right: 2px;
        position: relative;
        z-index: 50;
    }

    .access-btn {
        width: 80px;
        height: 40px;
        padding: 1px;
        font-size: 10px;
        /* margin-left: 50%; */
        border-radius: 10px;
    }

    .container{
        width: 80%;
        margin-top: 45%;
        padding-left: 10px;
        

       p{
        width: 300px;
       }
    }

    footer {
        height: auto;

        .Copyright {
            width: 300px;

            span {
                font-size: 15px;
            }
        }
    }


    .footer-container {
        gap: 10px;
        padding-bottom: 130%;

        .company {
            height: 180px;
            margin-top: 20px;
            margin-left: -1%;
        }

        div {
            height: 240px;
            /* background-color: red; */


            p {
                width: 300px;
                margin-left: 5%;
            }

            .footer-links {
                margin-left: 1%;
            }
        }

    }

}