@media screen and (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    header {
        justify-content: space-between;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: -250px;
        /* Hidden by default */
        flex-direction: column;
        background: #010110;
        width: 200px;
        padding: 1rem;
        height: 100vh;
        transition: right 0.3s ease;
        z-index: 100;
    }

    .nav-links.active {
        right: 0;
        /* Slide in */
    }




<<<<<<< HEAD
    .crypto-img, .crypto-img-two{
        width: 250px;
        margin-left: -10%;
        margin-bottom: 6%;
=======
    .crypto-img {
        width: 250px;
        margin-left: -8%;
        padding-bottom: 2px;
>>>>>>> 5980070f1eee53d3321b0f9439b3df220c3d3dfe
    }

    .crypto-img-two{
        margin-left: 3%;
    }

    .access-btn-div {
        /* background-color: gray; */
        width: 80px;
        height: 50px;
        padding-left: 2px;
        padding-top: 2px;
        margin-left: -12%;
        margin-top: 2%;
        margin-right: 2px;
        position: relative;
        z-index: 50;
    }

    .access-btn {
        width: 80px;
        height: 40px;
        padding: 1px;
        font-size: 10px;
        /* margin-left: 50%; */
        border-radius: 10px;
    }

    .create-btn {
        height: 60px;
    }

    .background-video {
        width: 100%;
    }

    .first-child {
        width: 100%;
        height: 350px;
        margin-left: -16%;


        h1 {
            font-size: 45px;
        }
    }

    .second-child {
        display: none;
    }

    .overall-div {
        margin-top: 50%;

    }

    .section_one_title {
        width: 100%;
        margin-top: 15%;
        margin-bottom: 15%;

        span {
            font-size: 33px;

            p {
                width: 250px;
                height: 50px;
                padding: 5px;
                /* background-color: red; */
                margin: auto;
            }
        }
    }

    .section_one {
        width: 100%;
        gap: 20%;

        .step {

            p {
                width: 280px;
                height: 50px;
                padding: 5px;
                /* background-color: red; */

            }
        }
    }

    .get-started-div {
        margin-top: 150%;
    }

    .section_two_title {
        width: 100%;
        margin-top: 50%;

        span {
            p {
                width: 250px;
                height: 50px;
                padding: 5px;
                /* background-color: red; */
                margin: auto;
            }
        }
    }

    .section-two {
        width: 100%;
        margin-top: 20%;
    }

    .section_three_title {
        width: 100%;

        span {
            p {
                width: 250px;
                height: 50px;
                padding: 5px;
                /* background-color: red; */
                margin: auto;
            }
        }
    }

    .section-three {
        margin-top: 16%;
    }

    .section-four {
        width: 80%;
        margin-top: 10%;
        padding-top: 20%;
        height: auto;

        span {
            width: 100%;
            font-size: 25px;
            text-align: center;
        }

        p {
            margin-top: 4%;
        }
    }

    .google-img-div {
        width: 100%;
        height: 200px;
        display: block;
        margin: auto;
        margin-top: 60%;

    }

    .apple-img {
        width: 200px;
        height: auto;
        margin-left: 12%;
    }

    .google-img {
        margin-top: -20%;
        margin-left: 12%;
    }

    .card {
        width: 70%;
        background-color: #010110;
    }

    .coin-name {
        color: white;
        font-weight: 700;
    }

    .price {
        color: white;
    }

    .Copyright {
        width: 300px;
        margin-top: 2%;

        span {
            font-size: 15px;
        }
    }

    .footer-container {
        gap: 10px;
        padding-bottom: 130%;

        .company {
            height: 180px;
            margin-top: 20px;
            margin-left: -12%;
        }

        div {
            height: 240px;
            margin-left: -12%;


            p {
                width: 300px;
<<<<<<< HEAD
                padding-top: 2px;
=======
                margin-left: 5%;
                padding-top: 2px;
            }

            .footer-links{
                margin-left: 1%;
>>>>>>> 5980070f1eee53d3321b0f9439b3df220c3d3dfe
            }
        }

    }
}